---
openapi: 3.0.0
info:
  title: Lab generator API.
  description: |
    Can be used to generate laboratory works reports for BMSTU IU9.
  version: 1.0.0
servers:
  - url: https://iu9lab.starovoytovai.ru/api/v1/
    description: Main (production) server.
  - url: http://localhost:8080/
    description: Local server for testing.

paths:
  /ping:
    get:
      summary: Ping.
      operationId: ping
      responses:
        '200':
          description: OK
  /generateReport:
    post:
      summary: Generate report in pdf format.
      description: |
        Generate report in pdf format. Returns link to created file.
      operationId: generateReport
      requestBody:
        required: true
        content:
          application/json:
            description: Data used to generate report.
            schema:
              $ref: '#/components/schemas/ReportData'
      responses:
        '201':
          description: OK
          content:
            application/pdf:
              type: pdf
        default:
          $ref: '#/components/responses/Error'

components:
  responses:
    Error:
      description: Unexpected error.
      schema:
        $ref: '#/components/Error'
  schemas:
    ReportData:
      type: object
      properties:
        workType:
          type: string
        title:
          type: string
        author:
          type: string
        teacher:
          type: string
        group:
          type: string
        course:
          type: integer
        labNumber:
          type: string
        body:
          type: string
        static:
          type: object
      required:
        - workType
        - title
        - author
        - teacher
        - group
        - course
        - labNumber
        - body
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
